@page "/"
@using DevExpress.Blazor.Office
@using DevExpress.Blazor.RichEdit

<PageTitle>Index</PageTitle>

<h1>Devexpress RichEditor Demo</h1>

<DxRichEdit ViewType="ViewType.Simple" BarMode=BarMode.Toolbar />